# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Part 1

In [40]:
import pandas as pd

In [41]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
d=pd.read_html(url)

In [42]:
df=d[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [46]:
df1=df.loc[df['Borough']!='Not assigned']

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [49]:
df1.loc[df1['Neighbourhood']=='Not assigned','Neighbourhood'] = df1['Borough']
df1.loc[df1['Neighbourhood']=="Queen's Park"]

/home/ishwar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [45]:
df2=df1.groupby('Postcode').agg({'Borough': pd.Series.unique ,'Neighbourhood': lambda x: ','.join(x)})
df2.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Guildwood,Morningside,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [48]:
df2.shape

(103, 2)

## Part 2

Reading into a pandas dataframe using this link to the csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [51]:
csv_url='http://cocl.us/Geospatial_data'
geo=pd.read_csv(csv_url)
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merging both the dataframes so that the new dataframe has the following columns:
Postcode, Borough, Neighbourhood, Latitude, Longitude

In [57]:
geo.rename(columns={'Postal Code':'Postcode'},inplace=True)
df_merge_col = pd.merge(df2, geo, on='Postcode')
toronto=df_merge_col
toronto.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476